* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.header {
	position: relative;
	width: 100%;
	background-image: url(../images/bg.png);
	background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    color: #fff;
}

.header-block {
	max-width: 1412px;
	margin: auto;
	display: flex;
	align-items: center;
	padding-top: 15px;
	justify-content: space-between;
}

.navigation-link {
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	text-align: center;
	text-decoration: none;
	color: #fff;
	opacity: 0.5;
	margin-right: 54px;
	font-family: 'Mulish', sans-serif;
	padding-bottom: 5px;
}

.navigation-link:hover {
	opacity: 1;
	margin-right: 54px;
	 width: 100%;
    height: 2px;
    border-bottom: 2px solid;
    border-image:linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    border-image-slice: 1;
}

.nav-icon {
	margin-right: 75px;
}

.nav-icon::last-child {
	margin-right: 0;
}

.header-text {

}

.header-text-title {
	font-family: Marcellus;
	font-style: normal;
	font-weight: normal;
	font-size: 100px;
	line-height: 70px;
	color: #FFFFFF;
	
}

.post-info-title {
	font-family: Mulish;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 10px;
	color: #FFFFFF;
	margin-right: 18.2px;
}

.post-info {
	margin-bottom: 25px;
	margin-top: 25px;
}

.post-info-age-limit {
	border: 2px solid #326CFF;
	border-radius: 50px;
	padding: 2px 10px;
}

.header-text-description {
	font-family: 'Mulish', sans-serif;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #C2C2C2;
	margin-bottom: 25px;

}

.header-text {
	max-width: 577px;
	margin: 222px auto 0 245px;
}

.header-button {
	border:1px solid #326CFF;
	border-radius: 50px;

}

.header-buttons {
	display: flex;
	text-align: center;
}

.button-blue {
	background: linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
	box-shadow: 0px 4px 50px rgba(50, 108, 255, 0.5);
	color: #fff;
	padding: 15px 30px;
	display: flex;
	align-items: center;

	font-family: Mulish;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #FFFFFF;

	margin-right: 30px;
}

#button-blue {
	width: 14px;
	height: 12px;
	margin-right: 15px;
}


.button-white {
	background: #FFFFFF;
	padding: 15px 30px;

	font-family: Mulish;
	font-style: normal;
	font-weight: 800;
	font-size: 16px;
	line-height: 20px;
	color: #323232;
}


.trand {
	background-color: #000;
}

.tranding-title {
	color: #fff;
	font-family: Mulish;
	font-style: normal;
	font-weight: bold;
	font-size: 28px;
	line-height: 20px;
	padding: 11px;
	margin-bottom: 47px;
	
    border-left: 8px solid;
    border-image:linear-gradient(316.53deg, #26FFF2 13.2%, #326CFF 71.54%);
    border-image-slice: 1;
}

.tranding {
	max-width: 1200px;
	margin: auto;
	margin-bottom: 60px;
}

.cover-art {
	margin-right: 41px;
	width: 150px;
	height: auto;

	
	border-radius: 20px;
}

.cover-art:last-child {
	margin-right: 0px;

}

.tranding-cover {
	margin-bottom: 47px;
	display: flex;
	align-items: center;
}

.tranding-cover:first-child {
	margin-bottom: 0px;
}

.section-button {
	margin-bottom: 100px;
}

.tranding-cover .fa-angle-right {
	color: #fff;
	font-size: 50px;
}